[tool.ruff]
line-length = 100
target-version = "py313"

[tool.ruff.lint]
select = ["E", "F", "I", "W"]

[tool.pyright]
pythonVersion = "3.14"
typeCheckingMode = "basic"
reportPrivateImportUsage = false
reportAttributeAccessIssue = false
